.pink{
    background-color : #9A7AA0;
}
.blush{
    background-color : #FDECEF;
}
.green{
    background-color : #5EF38C;
}
.blue{
    background-color : #00A5CF;
}
.mango{
    background-color : #FFBE0B;
}
